<div class="frontpage">
	<ul class="tabmenu">
		<li><a class="active" href="/">New</a></li>
		<li><a href="/">Something</a></li>
		<li><a href="/">Top</a></li>
		<li><a href="/">Discussed</a></li>
	</ul>

  <ul class="subjectmenu">
    <% @categories.each do |category| %>
    <li><%= link_to category.name, category %></li>
      <ul>
      <% @subcategories.each do |subcategory| %>
      	<% next if category.id != subcategory.category_id %>
        <li><%=link_to subcategory.name, subcategory %></li>
      <% end %>
      </ul>
    <% end %>
  </ul>
	<div class="posts">
		<% @posts.each do |post| %>
		<div class="post">
			<h3><%= post.title %></h3>
			<p><%= post.description %></p>
			<%= link_to "Research", post.researchlink %>
			<%= link_to "Article", post.articlelink %>
			<p>Article author: <%= post.articleauth %></p>
			<p>Research author: <%= post.researchauth %></p>
			<p>Research date: <%= post.researchdate %></p>
			<p>Submitter: <%= post.user.name %></p>
			<p><%= link_to "Read more", post %></p>
		</div>
		<% end %>
	</div>
</div>