<div class="post-submit-form">
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.label :title, "Title:" %><br>
    <%= f.text_field :title, class: 'input-field' %>
  </div>
  <div class="field">
    <%= f.label :description, "Short description:" %><br>
    <%= f.text_area :description, rows: 6, class: 'input-field' %>
  </div>
  <div class="field">
    <%= f.label :id, "Category:" %><br>
    <%= f.select :id, options_for_select(@categories, 1), {}, id:"category_select" %>
  </div>
  <div class="field">
    <%= f.label :subcategory_id, "Subcategory:" %><br>
    <%= f.select :subcategory_id, options_for_select(@subcategories.collect { |subcategory|
    [subcategory.name.titleize, subcategory.id]}, 0), {}, id: "subcategory_select" %>
  </div>
  <h3>Research Papers</h3>
  <div id="research-fields">
    <%= f.fields_for :research_papers do |research| %>
      <%= render 'research_paper_fields', f: research %>
    <% end %>
    <div class="links">
    <%= link_to_add_association 'add research', f, :research_papers %>
    </div>
  </div>
  <h3>Journal Articles</h3>
  <div id="article-fields">
  <%= f.fields_for :journal_articles do |article| %>
    <%= render 'journal_article_fields', f: article %>
  <% end %>
  </div>
  <div class="links">
    <%= link_to_add_association 'add article', f,  :journal_articles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>