		<% @posts.each do |post| %>
			<div id="post">
				<h3><%= post.title %></h3>
				<p><%= post.description %></p>
				<p>Submitter: <%= post.user.name %></p>
				<p><%= link_to "Read more", post %></p>
				<% if current_user != nil && current_user.admin? or current_user == post.user %>
					<%= link_to 'Edit', edit_post_path(post) %>
				<% end %>
			</div>
		<% end %>