<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-3">
    <%= render 'categories/categories' %>
  </div>
  <div class="col-xs-6" id="posts">
    <div class="container">
      <div class="posts" id="show-post">
        <div class="post">
          <h1><%= @post.title %></h1>
          <p><%= @post.description %></p>
          <p>Submitter: <%= @post.user.name %></p>
          <div class="journal-articles">
            <h3>Journal articles:</h3>
            <% if @journal_articles.exists? %>
            <%= render 'journal_articles' %>
            <% else %>
            <p>There are no relevant journal articles submitted for this post if you would like to add some: </p>
            <% if user_signed_in? %>
            <%= form_for @post do |f| %>
            <div id="article-fields">
              <%= f.fields_for :journal_articles do |article| %>
              <%= render 'journal_article_fields', f: article %>
              <% end %>
            </div>
            <div class="links">
              <%= link_to_add_association 'add article', f,  :journal_articles %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
            <% end %>
            <% end %>
            <% end %>
          </div>
          <h3>Research papers:</h3>
          <% if @research_papers.exists? %>
          <%= render 'research_papers' %>
          <% else %>
          <p>There are no relevant research papers submitted for this post if you would like to add some: </p>
          <% if user_signed_in? %>
          <%= form_for @post do |f| %>
          <div id="research-fields">
            <%= f.fields_for :research_papers do |research| %>
            <%= render 'research_paper_fields', f: research %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'add research', f, :research_papers %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
          <% end %>
          <% end %>
          <% end %>
          <% if user_signed_in? %>
          <div class="bookmarking">
            <%= render 'bookmarks/select' %>
          </div>
          <% end %>
          <% if current_user != nil && current_user.admin? or current_user == @post.user %>
          <%= link_to 'Edit', edit_post_path(@post) %>
          <% end %>
        </div>
        <div class="comments">
          <%= nested_comments @comments.arrange(order: :created_at) %>
          <% if user_signed_in? %>
            <%= render 'comments/form'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>