<p id="notice"><%= notice %></p>

  <div class="posts">

      <div class="post">
        <h3><%= @post.title %></h3>
        <p><%= @post.description %></p>
        <%= link_to "Research", @post.researchlink %>
        <%= link_to "Article", @post.articlelink %>
        <p>Article author: <%= @post.articleauth %></p>
        <p>Research author: <%= @post.researchauth %></p>
        <p>Research date: <%= @post.researchdate %></p>
        <p>Submitter: <%= @post.user.name %></p>
        <%= render 'bookmarks/select' %>
        <% if current_user != nil && current_user.admin? or current_user == @post.user %>
          <%= link_to 'Edit', edit_post_path(@post) %>
        <% end %>
        <%= link_to 'Back', :back %>
      </div>

  </div>
