<%= form_for @subcategory do |f| %>
  <p>
    <%= f.label :name, "Subcategory name:" %><br />
    <%= f.text_area :name %>
  </p>
	<%= f.hidden_field :category_id, :value => @category.id %>
  <p><%= f.submit "Create subcategory" %></p>
<% end %>