<!DOCTYPE html>
<html>
<head>
  <title>Research</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="app-navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag("logo.png", alt: "Brand") %></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Front Page</a></li>
            <li><a href="/">Journal Posts</a></li>
            <li><a href="/">User Papers</a></li>
            <li><a href="/">Book Recommendations</a></li>
            <li><a href="/">Skill learning</a></li>
            <li><a href="/">Requests</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-xs-9">
        <div class="container" id="pages-container">
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
          <% end %>
          <%= yield %> 
        </div>
      </div>

      <div class="col-xs-3">
        <div class="container" id="right-sidebar">
          <div class="affix">
            <div id="search-box">
              <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
              <%= submit_tag "Search" %>
              <% end %>
            </div>
          </div>
          <div class="affix" id="userbox">
            <ul class="nav navbar-nav navbar-fixed-right">
              <% if user_signed_in? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Page management
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <% if current_user.admin? %>
                  <li><%= link_to 'Category management', categories_path %></li>
                  <% end %>
                  <li><%= link_to 'Edit login informtion', edit_user_registration_path %></li>
                  <li><%= link_to 'My submissions', submissions_managements_path %></li>
                  <li><%= link_to 'Subscription management' %></li>
                  <li><%= link_to 'Contact admin' %></li>
                </ul>
              </li>
              <li><%= link_to current_user.name, current_user %></li>
              <li><%= link_to 'Submit a post', new_post_path %></li>
              <li><%= link_to 'Lists', bookmarks_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </ul>
              <% else %>
              <li><%= link_to 'Log In', new_user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <% end %>
            <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
          </div>
          <div class="affix" id="subscribe-button">
            <% if controller.controller_name == "subcategories" %>
            <% if current_user != nil %>
            <div class="subcategory-options">
              <% if current_user.subcategories.find_by(id: @subcategory) %>
              <%= button_to( "Unsubscribe", unsubscribe_subcategory_path(@subcategory))%>
              <% else %>
              <%= button_to( "Subscribe", subscribe_subcategory_path(@subcategory))%>
              <% end %>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
