  <ul class="subjectmenu">
    <li><%= link_to 'Profile information' %></li>  
    <li><%= link_to 'My login information' %></li>
    <li><%= link_to 'My submissions', submissions_managements_path %></li>
    <li><%= link_to 'Lists', bookmarks_path %></li>
    <li><%= link_to 'Subscription management' %></li>
    <li><%= link_to 'Contact admin' %></li>
  </ul>