  <ul class="subjectmenu" data-collapse>
    <li><%= link_to 'Profile information' %></li>  
    <li><%= link_to 'My login information' %></li>
    <li><%= link_to 'My submissions', submissions_managements_path %></li>
    <li>Lists</li>
    <li><%= link_to 'Favorites' %></li>
    <li><%= link_to 'Subscription management' %></li>
    <li><%= link_to 'Contact admin' %></li>
  </ul>