  <ul class="subjectmenu">
    <li><%= link_to 'Profile information' %></li>  
    <li><%= link_to 'My login information' %></li>
    <li><%= link_to 'My post submissions' %></li>
    <li><%= link_to 'Read later list' %></li>
    <li><%= link_to 'Subscription management' %></li>
    <li><%= link_to 'Already read list' %></li>
    <li><%= link_to 'Contact admin' %></li>
  </ul>